<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LittleHugs - Love, Care & Happiness Together</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/website/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/website/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/website/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/website/images/icons/site.html">
    <link rel="mask-icon" href="~/website/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/website/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/website/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="~/website/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/website/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/website/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/website/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/website/css/style.css">
    <link rel="stylesheet" href="~/website/css/skins/skin-demo-19.css">
    <link rel="stylesheet" href="~/website/css/demos/demo-19.css">
    <style>
        /* Remove any background images */
        body, .page-wrapper, .wrap-container {
            background-image: none !important;
            background-color: #fff;
        }

        /* Simplify the header navigation */
        .main-nav .menu > li > a {
            padding: 1.5rem 1.2rem;
            font-weight: 500;
            color: #333;
        }

        .main-nav .menu > li.active > a,
        .main-nav .menu > li:hover > a {
            color: #e91e63;
        }

        /* Remove megamenus and dropdowns for simplified navigation */
        .megamenu, .sf-arrows ul {
            display: none !important;
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <div class="wrap-container">
            <header class="header header-intro-clearance header-3">
                <div class="header-top">
                    <div class="container">
                        <div class="header-left">
                            <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <ul class="top-menu">
                                <li>
                                    <a href="#">Links</a>
                                    <ul>
                                        <li>
                                            <div class="header-dropdown">
                                                <a href="#">USD</a>
                                                <div class="header-menu">
                                                    <ul>
                                                        <li><a href="#">Eur</a></li>
                                                        <li><a href="#">Usd</a></li>
                                                    </ul>
                                                </div><!-- End .header-menu -->
                                            </div>
                                        </li>
                                        <li>
                                            <div class="header-dropdown">
                                                <a href="#">English</a>
                                                <div class="header-menu">
                                                    <ul>
                                                        <li><a href="#">English</a></li>
                                                        <li><a href="#">French</a></li>
                                                        <li><a href="#">Spanish</a></li>
                                                    </ul>
                                                </div><!-- End .header-menu -->
                                            </div>
                                        </li>
                                        @if (string.IsNullOrEmpty(ViewBag.checkSession))
                                        {
                                            <li><a href="@Url.Action("customerLogin", "customer")">Sign in / Sign up</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("customerLogOUT", "customer")">logout</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul><!-- End .top-menu -->
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-top -->

                <div class="header-middle">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="index.html" class="logo">
                                <img src="~/website/images/demos/demo-3/logo.png" alt="Molla Logo" width="105" height="25">
                            </a>
                        </div><!-- End .header-left -->

                        <div class="header-center">
                            <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper search-wrapper-wide">
                                        <label for="q" class="sr-only">Search</label>
                                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                        <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->
                        </div>

                        <div class="header-right">
                            <div class="header-dropdown-link">
                                <div class="account">
                                    <a href="@Url.Action("customerProfile", "customer")" title="My account">
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                        <p>Account</p>
                                    </a>
                                </div><!-- End .compare-dropdown -->

                                <div class="wishlist">
                                    <a href="wishlist.html" title="Wishlist">
                                        <div class="icon">
                                            <i class="icon-heart-o"></i>
                                            <span class="wishlist-count badge">3</span>
                                        </div>
                                        <p>Wishlist</p>
                                    </a>
                                </div><!-- End .compare-dropdown -->

                                <div class="dropdown cart-dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <div class="icon">
                                            <i class="icon-shopping-cart"></i>
                                            <span class="cart-count">2</span>
                                        </div>
                                        <p>Cart</p>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Beige knitted elastic runner shoes</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $84.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="~/website/images/products/cart/product-1.jpg" alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                            </div><!-- End .product -->

                                            <div class="product">
                                                <div class="product-cart-details">
                                                    <h4 class="product-title">
                                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">1</span>
                                                        x $76.00
                                                    </span>
                                                </div><!-- End .product-cart-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="~/website/images/products/cart/product-2.jpg" alt="product">
                                                    </a>
                                                </figure>
                                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                            </div><!-- End .product -->
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Total</span>

                                            <span class="cart-total-price">$160.00</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="cart.html" class="btn btn-primary">View Cart</a>
                                            <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div><!-- End .cart-dropdown -->
                            </div>
                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-middle -->

                <div class="header-bottom sticky-header">
                    <div class="container">
                        <div class="header-center">
                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="active">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="about.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="product.html">Product</a>
                                    </li>
                                    <li>
                                        <a href="category.html">Category</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-center -->

                        <div class="header-right">
                            <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</p>
                        </div>
                    </div><!-- End .container -->
                </div><!-- End .header-bottom -->
            </header><!-- End .header -->
        </div>
        <div class="wrap-container">

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <footer class="footer">
                <div class="footer-container">
                    <div class="footer-row">

                        <!-- About -->
                        <div class="footer-col">
                            <h2 class="footer-logo">LittleHugs</h2>
                            <p class="footer-text">
                                Your trusted store for mother & baby essentials. ❤️
                                Care, comfort, and love in every product.
                            </p>
                            <div class="social-links">
                                <a href="#"><i class="icon-facebook-f"></i></a>
                                <a href="#"><i class="icon-instagram"></i></a>
                                <a href="#"><i class="icon-youtube"></i></a>
                            </div>
                        </div>

                        <!-- Useful Links -->
                        <div class="footer-col">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">How to Shop</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="login.html">Log In</a></li>
                            </ul>
                        </div>

                        <!-- Customer Service -->
                        <div class="footer-col">
                            <h4>Customer Service</h4>
                            <ul>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Returns & Refunds</a></li>
                                <li><a href="#">Shipping Info</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>

                        <!-- My Account -->
                        <div class="footer-col">
                            <h4>My Account</h4>
                            <ul>
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Bottom -->
                    <div class="footer-bottom">
                        <p>© 2025 LittleHugs. All Rights Reserved.</p>
                        <span class="innovation">✨ Innovation & Care for Every Hug ✨</span>
                    </div>
                </div>
            </footer>

            <style>
                .footer {
                    background: linear-gradient(135deg, #ffe4ec, #ffd6e8);
                    padding: 50px 20px 20px;
                    font-family: 'Segoe UI', sans-serif;
                    color: #444;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    box-shadow: 0 -3px 15px rgba(0,0,0,0.08);
                }

                .footer-container {
                    max-width: 1200px;
                    margin: auto;
                }

                .footer-row {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                    gap: 30px;
                    margin-bottom: 30px;
                }

                .footer-logo {
                    font-size: 26px;
                    font-weight: 700;
                    color: #e91e63;
                    margin-bottom: 15px;
                }

                .footer-text {
                    font-size: 14px;
                    line-height: 1.6;
                }

                .footer-col h4 {
                    font-size: 16px;
                    font-weight: 600;
                    color: #e91e63;
                    margin-bottom: 15px;
                }

                .footer-col ul {
                    list-style: none;
                    padding: 0;
                }

                    .footer-col ul li {
                        margin-bottom: 8px;
                    }

                        .footer-col ul li a {
                            color: #555;
                            text-decoration: none;
                            font-size: 14px;
                            transition: color 0.3s;
                        }

                            .footer-col ul li a:hover {
                                color: #e91e63;
                            }

                .social-links a {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin-right: 8px;
                    border-radius: 50%;
                    background: #e91e63;
                    color: #fff;
                    text-align: center;
                    line-height: 35px;
                    font-size: 14px;
                    transition: 0.3s;
                }

                    .social-links a:hover {
                        background: #c2185b;
                    }

                .footer-bottom {
                    border-top: 1px solid #ccc;
                    padding-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 13px;
                    flex-wrap: wrap;
                }

                    .footer-bottom .innovation {
                        font-style: italic;
                        color: #e91e63;
                        font-weight: 600;
                    }
            </style>


        </div><!-- End .wrap-container -->
    </div><!-- End .page-wrapper -->
    <!-- Plugins JS File -->
    <script src="~/website/js/jquery.min.js"></script>
    <script src="~/website/js/bootstrap.bundle.min.js"></script>
    <script src="~/website/js/jquery.hoverIntent.min.js"></script>
    <script src="~/website/js/jquery.waypoints.min.js"></script>
    <script src="~/website/js/superfish.min.js"></script>
    <script src="~/website/js/owl.carousel.min.js"></script>
    <script src="~/website/js/bootstrap-input-spinner.js"></script>
    <script src="~/website/js/jquery.plugin.min.js"></script>
    <script src="~/website/js/jquery.magnific-popup.min.js"></script>
    <script src="~/website/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/website/js/main.js"></script>
    <script src="~/website/js/demos/demo-19.js"></script>

</body>
</html>