@{
    ViewData["Title"] = "productDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h2>Product Details</h2>
    <div class="row mt-3">
        <div class="col-md-5">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
        </div>
    </div>
</div>

